@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Humming";
  src: url("assets/fonts//Humming.otf");
}

@theme {
  --color-light: #fcfaf7;
  --color-dark: #0d0d0d;

  --color-orange: #f0531c;
  --color-orange-light: #ffa74f;

  --color-gray-text: #b7bde0;
  --color-white: #f9f9fc;
  --color-black: #000000;
  --color-red: #eb4b4b;
  --color-gray: #666d84;
  --color-brown: #332a21;
  --color-green: #16a467;

  --color-linear-gradient-1: #00b23a;
  --color-linear-gradient-2: #f8aa2d;
  --color-linear-gradient-3: #884beb;
  --color-linear-gradient-4: #ffb020;

  --font-humming: "Humming", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-IFlower: "Indie Flower", cursive;
}

.background_orange {
  background: var(--color-orange);
}

.text_orange {
  color: var(--color-orange)
}

.background_white {
  background: var(--color-white);
}

.insert_white_background_with_padding {
  padding: 25px;
  place-self: center;
  background: var(--color-white);
  border-radius: 60px !important;
}

#player {
  overflow: hidden;
  border-radius: 30px !important;
}

.max_width987{
  max-width: 987px;
}

.max_width678{
  max-width: 678px;
}

.gabi_letter {
  /* margin-right: calc(25% + 875px); */
  margin-right: 60%;
  justify-self: anchor-center;
}

@keyframes pulse-zoom {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.9;
  }
}

.pulse-button {
  animation: pulse-zoom 2s infinite;
}